html {
  background-color: #282c34;
}

.App {
  text-align: center;
  -webkit-appearance: none;
}

.movie-info {
  background-color: #d9d9d9;
  width: 90%;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  max-width: 768px;
  height: 200px;
}

.poster {
  width: 128px;
  height: 190px;
  margin: 5px;
  object-fit: cover;
}

.movie-title-info {
  font-weight: bold;
  text-align: left;
  font-size: 18px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 12px;
  margin-right: 5px;
  min-width: 237px;
}

.movie-classification {
  color: white;
  background-color: #f47d30;
  padding: 4px 5px;
  border-radius: 6px;
}
.movie-name {
  font-size: 30px;
  margin: 5px auto;
}

.movie-title-details {
  margin: 4px auto;
}

.screen {
  background-color: white;
  width: 90%;
  margin: 30px auto;
  max-width: 600px;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.seats-and-rows {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  margin: 50px auto 10px auto;
  min-width: 380px;
}

.row-numbers {
  display: flex;
  flex-direction: column;
}

.seat-label {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seats-section {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
}

.seat-class {
  min-width: 25px;
  min-height: 25px;
  border-radius: 5px;
  margin: 2px;
}

.available {
  background-color: #d9d9d9;
}

.selected {
  background-color: #ffe500;
}

.available:hover {
  background-color: #afafaf;
}
.selected:hover {
  background-color: #beab00;
}

.unavailable {
  background-color: #5e5e5e;
  pointer-events: none;
}

.disable {
  pointer-events: none;
}

.booked {
  background-color: #ff0000;
  pointer-events: none;
}

.legends {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  margin: 10px auto 20px auto;
  flex-wrap: wrap;
  align-items: center;
}

.legends-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 3px;
}

.legends-seat {
  min-width: 22px;
  min-height: 22px;
  border-radius: 5px;
  margin: 2px;
}

.legends-text {
  margin-right: 10px;
  margin-left: 2px;
}

.ticket-summary {
  display: flex;
  background-color: #d9d9d9;
  font-weight: bold;
  max-width: 400px;
  padding: 10px;
  margin: 10px auto;
  justify-content: center;
  align-items: center;
}

.ticket-text {
  color: white;
  font-weight: bold;
}

.table {
  width: 650px;
  margin: 10px auto;
}

.table-headers {
  font-weight: bold;
  font-size: 16px;
}

.none {
  display: none;
}

.email-section {
  display: flex;
  max-width: 400px;
  margin: auto auto 7px auto;
  flex-direction: column;
}

.email-section-label {
  display: inline-block;
  width: 65px;
  color: white;
  font-weight: bold;
  justify-content: left;
  margin-right: 3px;
  padding: auto 3px auto 0px;
}

.button-style {
  font-weight: bold;
  border-radius: 4px;
  padding: auto 10000px;
  font-size: 16px;
}

@media screen and (max-width: 480px) {
  .movie-info {
    background-color: #d9d9d9;
    width: 90%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    max-width: 768px;
    height: auto;
  }

  .poster {
    width: 90%;
    margin: 5% auto;
    object-fit: cover;
    height: auto;
  }

  .movie-title-info {
    font-weight: bold;
    text-align: left;
    font-size: 18px;
    margin: auto auto 5% auto;
    width: 90%;
  }
}
